<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <h1>Histogram Generator</h1>
        <div>
            <h2>Lower bounds</h2>
            <table>

            </table>
        </div>
        <div>
            <h1>Histogram</h1>
            <table>
                <!-- for loop to create the histogram -->
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
    </body>
    <script src='calculate.js'></script>
</html>